<%- include("partials/header") -%>
<body class="bg-green">
  <div class="container">
    <div class="row mt-5">
      <div class="col-sm-8 color-yellow-light mt-5">
        <p class="fw-bold fs-2">Halo, selamat datang!</p>
        <h1 class="fw-bold fs-1">Pilih <a href="/portal" class="color-green bg-home-span bg-yellow">PORTAL</a> yang kamu butuhkan</h1>
        <p class="fs-3">Langsung aja klik tombol portal di bawah</p>
        <a href="/portal" class="btn btn-lg bg-yellow color-green fw-bolder home-button mt-5">CEK PORTAL</a>
      </div>
      <div class="col-sm-4">
        <img src="../img/icon-home.png" alt="icon community" />
      </div>
    </div>
    
  </div>
</body>
