<%- include("partials/header") -%>
<body class="bg-green">
  <div class="container">
    <div class="row mt-5">
      <div class="col color-yellow mt-5">
        <p class="fw-bold fs-3">Halo, selamat datang</p>
        <h1 class="fw-bolder fs-1">Pilih <span class="text-decoration-underline">PORTAL</span> yang kamu butuhkan</h1>
        <p>Langsung aja klik tombol portal di bawah</p>
        <a href="/portal" class="btn btn-lg bg-yellow color-green fw-bolder home-button mt-5">CEK PORTAL</a>
      </div>
      <div class="col">
        <img src="../img/icon-home.png" />
      </div>
    </div>
  </div>
</body>
