<%- include("partials/header") -%>

<body class="bg-green">

  <div class="container bg-green mt-5">
    <div class="d-flex">
      <h2 class="color-yellow fw-bold">JASA TITIP</h2>
      <a href="/form-jastip" class="btn btn-lg bg-yellow color-green fw-bolder home-button ms-auto ">+ Buka jastip baru</a>
    </div>
    <div class="thick-underline mt-3"></div>
    

    <!-- Form: query param searching by nama toko, live-rendering GET request + GET All by params, or submit first -->
    <input class="form-control my-4" type="text" name="postNamaToko" placeholder="Ketik nama toko di sini" />
  
    <div class="d-flex container">
      <% arrPostJasaTitip.forEach(function(postJasaTitip) { %>
      <div class="card border-primary col-sm-4">
        <div class="fw-bold color-green bg-yellow card-header"><%=postJasaTitip.namaToko%></div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>
          <h5 class="card-text"> <% Waktu: postJasaTitip.waktu %> </h5>
          <h5 class="card-text"> <% Tanggal: postJasaTitip.tanggal %> </h5>
          <h5 class="card-text"> <% Tujuan: postJasaTitip.tujuan %> </h5>
          <a class="card-text" href="<%= postJasaTitip.link%>">LINK</a>
  
        </div>
      </div>
  
      <%})%>
    </div>
  
  </div>

</body>
