<%- include("partials/header") -%>

<h3 class="fw-bolder fs-1">Pilih <span class="text-decoration-underline"><a href="/portal" class="color-yellow">PORTAL</a></span> yang kamu butuhkan</h3>

<div class="col">
  <a href="/jasatitip">JASA TITIP</a>
  <a href="/jasa-antre">JASA ANTRE</a> <!-- blum bikin ejs -->
  <div class="row">
    <a href="/kuy-bareng">KUY BARENG</a> <!-- blum bikin ejs -->
  </div>
</div>
