* {
  font-family: "REM", sans-serif;
}

.bg-green {
  background-color: #1a5d1a;
}

.color-yellow {
  color: #f1c93b !important;
}

.color-yellow-light{
  color: #fae392;
}

.bg-yellow-light {
  background-color: #fae392;
}

.bg-yellow {
  background-color: #f1c93b;
}

.color-green {
  color: #1a5d1a !important;
}

.home-button:hover {
  background-color: #fae392;
}

.nav-link:hover{
  border-radius: 10px;
  color: #1a5d1a !important;
  background-color: #f1c93b;
}

.thick-underline{
  border: 2px solid #f1c93b !important;
}

.bg-home-span{
  border-radius: 10px;
  padding: 5px;
}

.bg-home-span:hover{
  background-color: #fae392;
  
}

.border-portal{
  border-radius: 50%;
}

.bg-btn-portal{
  background-color: #1a5d1a;
}

.bg-btn-portal:hover{
  
  background-color: #749F82;
  
}

.btn-isi-gform{
  background-color:#f1c93b ;
  color:#1a5d1a
}

.btn-isi-gform:hover{
  background-color: #FBD85D;
}